### Notebook For Assignment: Segmenting and clustering

In [1]:
import pandas as pd
import numpy as np

C:\Users\pc\miniconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\pc\miniconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\pc\miniconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:\n%s" %

In [8]:
pip install BeautifulSoup4

Collecting BeautifulSoup4
  Downloading beautifulsoup4-4.9.3-py3-none-any.whl (115 kB)
Collecting soupsieve>1.2; python_version >= "3.0"
  Downloading soupsieve-2.1-py3-none-any.whl (32 kB)
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.9.3 soupsieve-2.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install selenium

Collecting seleniumNote: you may need to restart the kernel to use updated packages.
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\pc\miniconda3\lib\site-packages (from selenium) (1.25.8)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [3]:
import urllib.request
import csv
import requests

In [4]:
# specify the url
urlpage = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
# query the website and return the html to the variable 'page'
page = urllib.request.urlopen(urlpage)
# parse the html using beautiful soup and store in variable 'soup'
soup = BeautifulSoup(page, 'html.parser')

In [38]:
print(soup.title)

<title>List of postal codes of Canada: M - Wikipedia</title>

In [60]:
print(soup.title.text)

List of postal codes of Canada: M - Wikipedia

In [62]:
# find results within table
table = soup.find('table', class_='wikitable')
results = table.find_all('tr')
print('Number of results', len(results))

Number of results 181

#### Reading data from page to table

In [248]:
l=[]
for tr in results:
    td = tr.find_all('td')
    row = [tr.text.replace("/n","")  for tr in td]
    l.append(row)
data=pd.DataFrame(l, columns=["Postal Code", "Borough", "Neighbourhood"])

In [249]:
data

,Postal Code,Borough,Neighbourhood
0,None,None,None
1,M1A\n,Not assigned\n,Not assigned\n
2,M2A\n,Not assigned\n,Not assigned\n
3,M3A\n,North York\n,Parkwoods\n
4,M4A\n,North York\n,Victoria Village\n
...,...,...,...
176,M5Z\n,Not assigned\n,Not assigned\n
177,M6Z\n,Not assigned\n,Not assigned\n
178,M7Z\n,Not assigned\n,Not assigned\n
179,M8Z\n,Etobicoke\n,"Mimico NW, The Queensway West, South of Bloor,..."
180,M9Z\n,Not assigned\n,Not assigned\n

In [250]:
#Remove \n from all elements
data=data.replace(r'\n', '', regex=True)
data

,Postal Code,Borough,Neighbourhood
0,None,None,None
1,M1A,Not assigned,Not assigned
2,M2A,Not assigned,Not assigned
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
...,...,...,...
176,M5Z,Not assigned,Not assigned
177,M6Z,Not assigned,Not assigned
178,M7Z,Not assigned,Not assigned
179,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
180,M9Z,Not assigned,Not assigned

In [251]:
#Drop Not assigned Borough
dt=data        
dt.drop( dt[ dt["Borough"]=="Not assigned" ].index, inplace=True)
dt.drop( 0, inplace=True)
dt

,Postal Code,Borough,Neighbourhood
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
5,M5A,Downtown Toronto,"Regent Park, Harbourfront"
6,M6A,North York,"Lawrence Manor, Lawrence Heights"
7,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
161,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
166,M4Y,Downtown Toronto,Church and Wellesley
169,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
170,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
179,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [252]:
dt.shape

(103, 3)

### Creat new table with locations

In [231]:
#read csv file
geo=pd.read_csv("C:/Users/pc/Desktop/Coursera/Geospatial_Coordinates.csv",delimiter=";")

In [253]:
geo.head()

  Postal Code    Latitude    Longitude
0         M1B  43,8066863  -79,1943534
1         M1C  43,7845351  -79,1604971
2         M1E  43,7635726  -79,1887115
3         M1G  43,7709921  -79,2169174
4         M1H   43,773136  -79,2394761

In [254]:
new_data=dt.merge(right=geo,on="Postal Code")

In [256]:
new_data.head(12)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,"43,7532586","-79,3296565"
1,M4A,North York,Victoria Village,"43,7258823","-79,3155716"
2,M5A,Downtown Toronto,"Regent Park, Harbourfront","43,6542599","-79,3606359"
3,M6A,North York,"Lawrence Manor, Lawrence Heights","43,718518","-79,4647633"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government","43,6623015","-79,3894938"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village","43,6678556","-79,5322424"
6,M1B,Scarborough,"Malvern, Rouge","43,8066863","-79,1943534"
7,M3B,North York,Don Mills,"43,7459058","-79,352188"
8,M4B,East York,"Parkview Hill, Woodbine Gardens","43,7063972","-79,309937"
9,M5B,Downtown Toronto,"Garden District, Ryerson","43,6571618","-79,3789371"
10,M6B,North York,Glencairn,"43,709577","-79,4450726"
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...","43,6509432","-79,5547244"